
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* text-align: center; */
    color: #2c3e50;
    /* margin-top: 60px;   */
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: inherit;
    outline: none;
  }
  
  li {
    list-style: none;
  }
  
  button {
      padding: 0px 10px;
      background: #46c3f3;
      border-radius: 30px;
      line-height: 26px;
      color: #fff;
      cursor: pointer;
      transition: color .3s;
  }
  button:hover { background: #60d3ff; }
  button:active { color: #666; }
  
  .fl {
    float: left;
  }
  
  .fr {
    float: right;
  }
  
  .tc {
    text-align: center;
  }
  
  .tr {
    text-align: right;
  }
  
  .tl {
    text-align: left;
  }
  
  .fx-c {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .fx-vc {
    display: flex;
    align-items: center;
  }
  
  .fx-hc {
    display: flex;
    justify-content: center;
  }

.el-table .cell{
  word-break: keep-all;
  white-space: nowrap;
  text-overflow: clip;
  overflow: scroll;
  padding: 12px 10px;
  user-select: all;
}
.el-table td, .el-table th { padding: 0; }
/* .el-table .cell::-webkit-scrollbar-thumb {
height: 1px;
} */
.el-table__body-wrapper { height: calc(100% - 48px) !important; }
.el-pagination {
  background: #eee;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 10px;
  text-align: right;
}
.btn-prev, .btn-next {
  padding: 0 6px !important;
  margin: 0 3px !important;
}